doctype html
html
    head
        style
            include style.css

    body
        div.header
            h2
                |‿︵‿ヽ(°□° )ノ︵‿︵

        div.content
            block content

        div.footer
            h6
                |(c) Sep2021-Node
            a(href=frontendUrl) click me