extends container
block content
    div
        h2
            | Hello,
                      span#{userName}
                      |.
        p
            | WOOOW  YOUR ACCOUNT HAS BEEN REGISTERED -__-